<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>CSDN</title>
</head>
<style>
div {
	display: flex;
	flex-direction:column;
	justify-content:center;
	align-items: center;
}
</style>
<body>
	<div>
		<h3>CSDN</h3>
		<a href="http://127.0.0.1:8000/oauth/authorize?
		response_type=code&
		client_id=csdn-app-client&
		redirect_uri=http://127.0.0.1:8001/csdn/token">请求token</a>
		<p th:text="${code}"><p>
	</div>
</body>
</html>